spring:
  profiles:
    active: dev
  application:
    name: izertis-tech-test-elliot
  webflux:
    problemdetails:
      enabled: true

springdoc:
  api-docs:
    path: /v1/api-docs
  swagger-ui:
    path: /docs
    persist-authorization: true
    with-credentials: true

jwt:
  secret: ${JWT_AUTH_SECRET}

movies:
  provider: omdb
  tmdb:
    base-url: https://api.themoviedb.org/3
    api-key: ${TMDB_API_KEY}
  omdb:
    base-url: https://www.omdbapi.com/
    api-key: ${OMDB_API_KEY}
