<div class="min-h-screen bg-white">
  <div class="container mx-auto px-8 py-10">
    <app-movie-list-header
      [isLoggedIn]="isLoggedIn()"
      (logout)="logout()"
    ></app-movie-list-header>
    @if (isLoggedIn()) {
      <app-movie-search-box [searchControl]="searchControl"></app-movie-search-box>

      @if (pageRange$ | async; as pageRange) {
        <app-movie-list-results-info
          [total]="pageRange.total"
          [from]="pageRange.from"
          [to]="pageRange.to"
        ></app-movie-list-results-info>
      }
      @if (!isSearching) {
        <app-movie-list-placeholder-search></app-movie-list-placeholder-search>
      }

      @if (isLoading$ | async) {
        <app-movie-list-loading></app-movie-list-loading>
      }

      @else if (hasError$ | async) {
        <app-movie-list-error></app-movie-list-error>
      }

      @else {
        @if (resultsPage$ | async; as page) {
          @if (page?.results?.length === 0) {
            <app-movie-list-no-results [query]="searchControl.getRawValue()"></app-movie-list-no-results>
          } @else {
            <app-movie-list-results [moviePage]="page"></app-movie-list-results>
          }
        }
      }
    } @else {
     <app-movie-list-login></app-movie-list-login>
    }
  </div>
</div>
