<div class="min-h-screen bg-white">
  <div class="container mx-auto px-8 py-10">
    <header class="flex flex-col sm:flex-row items-center justify-between mb-14 text-center sm:text-left">
      <div class="flex items-center justify-center sm:justify-start gap-2 mb-4 sm:mb-0 ">
        <lucide-angular [img]="Film" class="h-8 w-8 text-blue-600"></lucide-angular>
        <h1 class="text-4xl font-bold">Movie Searcher</h1>
      </div>
      @if (isLoggedIn()) {
        <button
          (click)="logout()"
          class="inline-flex items-center justify-center border border-gray-200 rounded-md text-sm font-medium gap-2 px-4 py-2 hover:bg-gray-100 transition-colors cursor-pointer"
        >
          <lucide-angular [img]="LogOut" class="h-4 w-4"></lucide-angular>
          Log out
        </button>
      }
    </header>
    @if (isLoggedIn()) {
      <div class="max-w-md mx-auto mb-8">
        <div class="relative">
          <div class="absolute left-3 top-1/2 transform -translate-y-1/2 ">
            <lucide-angular [img]="Search" class="h-4 w-4 text-gray-500"></lucide-angular>
          </div>
          <input
            [formControl]="searchControl"
            name="search-movies-input"
            type="text"
            placeholder="Search movies..."
            class="flex h-10 w-full rounded-md border border-gray-200 px-3 py-2 text-sm pl-10"
          >
        </div>
      </div>
      @if (pageRange$ | async; as pageRange) {
        @if (pageRange.total > 0) {
          <div class="text-center mb-6">
            <p class="text-sm text-gray-500">Showing {{pageRange.from}}-{{pageRange.to}} of {{pageRange.total}} results</p>
          </div>
        }
      }
      @if (!isSearching) {
        <app-movie-list-placeholder-search></app-movie-list-placeholder-search>
      }

      @if (isLoading$ | async) {
        <app-movie-list-loading></app-movie-list-loading>
      }

      @else if (hasError$ | async) {
        <app-movie-list-error></app-movie-list-error>
      }

      @else {
        @if (resultsPage$ | async; as page) {
          @if (page?.results?.length === 0) {
            <app-movie-list-no-results [query]="searchControl.getRawValue()"></app-movie-list-no-results>
          } @else {
            <app-movie-list-pagination [page]="page" (pageChange)="goToPage($event)"></app-movie-list-pagination>

            <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 py-8">
              @for (compactMovie of page?.results; track compactMovie.imdbId) {
                <app-movie-list-item [movie]="compactMovie"></app-movie-list-item>
              }
            </section>

            <app-movie-list-pagination [page]="page" (pageChange)="goToPage($event)"></app-movie-list-pagination>
          }
        }
      }
    } @else {
     <app-movie-list-login></app-movie-list-login>
    }
  </div>
</div>
